# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Environments
.env
.venv/
venv/
ENV/
env/
*.env

# VSCode
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

# Uploaded and output files
uploaded_epubs/
converted_pdfs/

# Byte-compiled or cache
.cache/

# Jupyter Notebook
.ipyn
